body
{
    font: normal 80 % verdana, arial, helvetica, sans-serif;
    color: #142426;
    background-image: url('../../images/gray-gradient-bg.jpg');
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}
.header
{
    background-color: #FFFFFF
}
.like_button
{
    margin: 0 0 1em .5em;
}
.pet_photo
{
    float: left;
    min-height: 25em;
    width: 11em;
    padding: 0 6.8em 0 0;
}
.pet_photo img
{
    max-width: 16em !important;
}
.existing_photo_list
{
    margin: 0;
    padding: 0;
}
.existing_photo_list img
{
    width: 33%;
    float: left;
    margin: 0;
    padding: 0 1em 1em 0;
}
.form_line
{
    padding: 0 0 .3em 0;
}
h1
{
    padding: .7em 0 0 0;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
}
h2
{
    background-color: #9AA7AE;
    border: solid 10px #9AA7AE;
    color: #FFFFFF;
}
.pet_profile_photo_wrapper
{
    float: left;
    margin: 0 1em 1em 0em;
    min-height: 50em;
}
.pet_profile_info
{
    float: left;
    margin: 0 0 0 0;
    min-height: 50em;
}
.pet_profile_photo_wrapper img
{
    width: 470px !important;
}
.pet_details_photo_wrapper
{
    padding: 0 0 1em 0;
}
.signin_textbox, .signup_textbox
{
    min-width: 14em;
}
.login_page_header
{
    background-color: #9AA7AE;
    font-size: 200%;
    font-weight: bold;
    color: #FFFFFF;
    padding: .2em 0 .2em 0;
}
.login_page_notify
{
    margin: 0 0 2em 0;
}
.login_page_security_note
{
    background-color: #FFCCCC;
    padding: .5em;
    font-weight: bold;
}
.button_100
{
}
a:link, a:visited
{
    color: #66747b;
}
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited
{
    color: #66747b;
}
h1 a
{
    text-decoration: none;
}
.error_in_textbox
{
    border: solid 3px #990000 !important;
}
.error_rollup
{
    color: #990000;
    padding: 1em 0 1em 0;
}
.error_rollup ul
{
    padding: 0;
}
.error_rollup li
{
    margin: 0;
    padding: 0;
}
.error_rollup_header
{
    font-weight: bold;
    list-style-type: none;
}
.error_rollup_messages li
{
    font-weight: normal;
    margin: 0 0 0 3em;
}
.notify
{
    font-weight: bold;
    color: #006600;
    font-size: 110%;
    padding: 0em 0em 1em 0em;
}
.info_row_header
{
    font-weight: bold;
    height: 2em;
    padding: 0 1em 0 0;
    text-align: right;
    vertical-align: top;
}
.mypets_table tr
{
    height: 8em;
}
.mypets_table td
{
    vertical-align: middle;
    padding: 0 1em 0 0;
    font-size: 110%;
}
.mypets_table img
{
    width: 150px;
}
.add_new_pet_header
{
    color: #66747b !important;
}
.login_badge_wrapper
{
    text-align: right;
    padding: 1em 1em 0 0;
}
